* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* for debugging */
}

body {
  min-height: 100vh;
  background-color: rgb(234,240,241);
}

.content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100%;
}

.homepage h2{
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.sidebar {
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
  background-color: #21adcb;
  padding: 20px 0px 0px 20px;
  color: white;
}

.sidebar ul li {
  list-style: none; /* to remove dot*/
}

.sidebar ul li a:link {
  text-decoration: none;
  color: white;
}

.sidebar ul li a:visited {
  text-decoration: none;
  color: white;
}
.sidebar a img {
  filter: invert(1) brightness(2); /* turn all svgs in the side bar white -- it messes with some stuff when you highlight everything*/
}

.menu ul{
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 40px;
}
.settings ul{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.top-bar {
  padding: 20px 60px 20px 60px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(350px,70%,1000px);
}

.top-bar input{
  flex-grow: 1;
  flex-shrink: 1;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
  font-size: 20px;
  padding-left: 15px;
}
input:focus-visible {
  border: 1px solid rgb(121, 121, 121);
  outline: none;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.middle-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 60px 0px 60px;
  box-shadow: 0px 5px 5px rgb(214, 214, 214);
}

.middle-bar ul li{
  list-style: none;
}

.middle-bar-buttons{
  display: flex;
  align-items: center;
  gap: 20px;
}
.middle-bar-buttons > li > button{
  background-color: #21adcb;
  color: white;
  font-weight: bold;
  width: 70px;
  height: 30px;
  border-radius: 5px;
}

li img{
  vertical-align: sub; /* to help align svgs better to the current text*/
}

.page-content{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.left-side-header, .right-side-header{
  margin-bottom: 20px;
}
.left-side-content{
  padding-left: 30px;
  padding-top: 40px;
}

.left-side-cards{
  display: flex;
  gap: 30px;
  flex-grow: 0;
  flex-wrap: wrap;
}

.right-side-content{

  padding-right: 40px;
  padding-top: 40px;
}

.card{
  width: 450px;
  height: 250px;
  background-color: white;
  border-left: 10px #21adcb solid;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgb(214, 214, 214);
}
.card-title{
  font-weight: bold;
}

.card-content{
  width: 40ch;
  color: rgb(58, 58, 58);

}

.card-buttons{
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.card-buttons > button{
  margin-right: 10px;
  background-color: #21adcb;
  color: white;
  font-weight: bold;
  width: 60px;
  height: 30px;
  border-radius: 5px;
}

.info-card{
  height: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgb(214, 214, 214);
}

.info-title{
  font-weight: bold;
  font-size: 20px;
}

.info-content{
  
}