* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* for debugging */
}

body {
  min-height: 100vh;
  background-color: rgb(234,240,241);
}

.content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100%;
}

.sidebar {
  min-height: 100vh;
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
  background-color: rgba(59,76,86,255);
  padding: 20px 0px 0px 0px;
  color: rgba(41,170,192,255);
}

.sidebar ul li {
  list-style: none; /* to remove dot*/
}

.sidebar ul li a:link {
  text-decoration: none;
  color: rgba(41,170,192,255);
}

.sidebar ul li a:visited {
  text-decoration: none;
  color: rgba(41,170,192,255);
}

.menu ul{
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 40px;
}
.settings ul{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.top-bar {
  padding: 20px 60px 20px 60px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar input{
  width: 600px; /* need to make this a calc() so that it scales with the screen. */
  height: 30px;
  border-radius: 10px;
}

.middle-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 60px 0px 60px;
  box-shadow: 0px 5px 5px rgb(214, 214, 214);
}

.middle-bar ul li{
  list-style: none;
}

.middle-bar-buttons{
  display: flex;
  align-items: center;
}

li img{
  vertical-align: sub; /* to help align svgs better to the current text*/
}

.card{
  width: 400px;
  height: 250px;
  background-color: white;
  border-left: 10px rgba(41,170,192,255) solid;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgb(214, 214, 214);
}
.card-title{
  font-weight: bold;
}

.card-content{

}

.card-buttons{
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.card-buttons > button{
  margin-right: 10px;
  background-color: #3a4a57;
  color: #21adcb;
  font-weight: bold;
  width: 50px;
  height: 25px;
  border-radius: 5px;
}