* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* for debugging */
  border: 1px red solid;
}

body {
  min-height: 100vh;
  background-color: rgb(235, 235, 235);
}

.content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100%;
}

.sidebar {
  min-height: 100vh;
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
  background-color: rgb(175, 175, 255);
  padding: 0px 0px 0px 0px;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a:link {
  text-decoration: none;
  color: black;
}

.sidebar ul li a:visited {
  text-decoration: none;
  color: black;
}

.top-bar {
  display: flex;
  background-color: white;
}

.top-bar input{
  width: 600px; /* need to make this a calc() so that it scales with the screen. */
  height: 30px;
  border-radius: 10px;
}

.middle-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

li img{
  vertical-align: sub; /* to help align svgs better to the current text*/
}

.card{
  width: 400px;
  height: 250px;
  background-color: white;
  border-left: 10px rgb(240, 162, 26) solid;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card-title{
  font-weight: bold;
}

.card-content{

}

.card-buttons{
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.card-buttons > button{
  margin-right: 10px;
}